@import './layout.css';
@import './themes/light.css';

/* CSS Variables */
:root {
    --calendar-day-font-size: 0.75rem;
    --calendar-day-font-weight: 400;
    --calendar-day-padding: 0px;
    --calendar-day-border-radius: 0.5rem;
    --calendar-color-white: #ffffff;
    --calendar-color-slate-50: #f8fafc;
    --calendar-color-slate-100: #f1f5f9;
    --calendar-color-slate-200: #e2e8f0;
    --calendar-color-slate-300: #cbd5e1;
    --calendar-color-slate-400: #94a3b8;
    --calendar-color-slate-500: #64748b;
    --calendar-color-slate-600: #475569;
    --calendar-color-slate-900: #0f172a;
    --calendar-color-main: #06b6d4;
    --calendar-color-weekend-enabled: #f43f5e;
    --calendar-color-weekend-disabled: #fff1f2;
    --calendar-color-time-enabled: #ffedd5;
    --calendar-color-time-focus: #fdba74;
}